<!DOCTYPE html>
<html lang="en">
  <head>
    <title>House Loyalty</title>
    <link rel="shortcut icon" href="../asset/media/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/tgif.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
          <a class="navbar-brand" href="home.html">
            <img src="/asset/media/logo.png" alt="TGIF Logo" class="img-fluid logo"> 
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html"><span class="tgif-link">TGIF</span><span class="copyright-symbol">&copy;</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="dropdown-text">Congress 116</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="senate.html">Senate</a></li>
                  <li><a class="dropdown-item" href="house.html">House</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="dropdown-text">Attendance</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="senate-attendance.html">Senate</a></li>
                  <li><a class="dropdown-item" href="house-attendance.html">House</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="dropdown-text">Loyalty</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="senate-loyalty.html">Senate</a></li>
                  <li><a class="dropdown-item" href="house-loyalty.html">House</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0"> 
              <li class="nav-item email-link">
                <a class="nav-link active" aria-current="page" href="mailto:info@tgif.net"><i class="fas fa-envelope"></i> info@tgif.net</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-6 loyalty-div">
              <div class="loyalty-text">
                <h1>Party Loyalty (House)</h1>
                <p>
                Those who consider themselves to be strong partisans, strong Democrats 
                and strong Republicans respectively, tend to be the most faithful in 
                voting for their party's nominee for office and legislation that backs 
                their party's agenda. </p>
              </div>
            <div class="loyalty-logo">
              <img src="/asset/media/Seal_of_the_United_States_House_of_Representatives.svg" class="img-fluid logo-small">
            </div>
          </div>
          <div class="col-md-6">
            <div class="container mt-5">
              <h2>House at a Glance</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th>Party</th>
                    <th>Number of Reps</th>
                    <th>% Voted with Prty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Republican</td>
                    <td  id="republican_reps">--</td>
                    <td  id="republican_loyalty">--</td>
                  </tr>
                  <tr>
                    <td>Democrat</td>
                    <td id="democrat_reps">--</td>
                    <td id="democrat_loyalty">--</td>
                  </tr>
                  <tr>
                    <td>Independent</td>
                    <td id="independent_reps">--</td>
                    <td id="independent_loyalty">--</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  	  </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h2>Least Loyal (Bottom 10%)</h2>
            <div class="table-container">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number Party Votes</th>
                    <th>% Party Votes</th>
                  </tr>
                </thead>
                <tbody id="least_loyal_tbody">
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Most Loyal (Top 10%)</h2>
            <div class="table-container">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number Party Votes</th>
                    <th>% Party Votes</th>
                  </tr>
                </thead>
                <tbody id="most_loyal_tbody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  	</div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 left-content">
            <p>&copy; 2024 TGIF | all rights reserved</p>
          </div>
          <div class="col-md-6 right-content">
            <p><i class="fas fa-envelope"></i> info@tgif.net</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../script/tgif.js"></script>
    <script src="/script/house-loyalty.js"></script>      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
  </body>
</html>