
body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding-top: 76px;
  margin: 5%;
}

a {
  text-decoration: none;
}

nav {
  font-size: 16px;
}

nav li {
  list-style: none;
  padding: 2px;
}

nav > ul > li {
  background-color: #ddd;
  display: inline-block;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f8f9fa;
  opacity: 95%;
  padding-top: 15px;
}

.navbar-toggler-icon, .dropdown-toggle::after {
  display: none;
}

.navbar-toggler {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.tgif-link {
  font-size: 1.5em;
  font-weight: bold;
}

.email-link {
  padding-top: 12px;
}

.navbar-toggler span {
  background-color: #000;
  display: block;
  height: 3px;
  margin-bottom: 4px;
  width: 25px;
}

.dropdown-text {
  color: #000;
}

h1 {
  font-weight: 600;
}

h1 .copyright-symbol {
  font-size: 0.5em;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.navbar {
  padding: 1rem;
  margin-bottom: 2rem;
}

.navbar-brand,
.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

.btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.container {
  padding: 2rem;
  border: 1px solid #ddd; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background: #f8f8f8;
}

p {
  line-height: 1.6;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-btn::after {
  content: "\25BC";
}

.dropdown {
  display: inline-block;
  padding-top: 12px
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 1;
}

.dropdown-items li a {
  display: block;
  color: black;
  width: 100%;
}

.dropdown.show .dropdown-items{
  display: block;
}

.dropdown.show .dropdown-btn:after {
  content: "\25B2";
}


.dropdown.show .dropdown-items li a:hover {
  background-color: lightgray;
}

.capitol-pic {
  width: 100%;
  height: auto;
  border: 1px solid #ddd; 
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
} 

.table-container {
  max-height: 400px; 
  overflow-y: auto;
  margin-bottom: 35px
}

.table,
.table th,
.table td {
  border-color: black;
}

.logo-small {
  max-width: 25%;
}

.senate-logo-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 7%;
}

.loyalty-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 75px;
  padding: 0;
}

footer p {
  margin: 0;
  display: inline-block;
}

footer .left-content {
  text-align: left;
}

footer .right-content {
  text-align: right;
}

@media (max-width: 768px) {
  .navbar-toggler-icon {
      font-size: 1.25rem; 
  }
  footer .left-content,
  footer .right-content {
      text-align: center;
  }
  footer .right-content p {
      display: block;
  }
  .logo {
    max-width: 75%; 
  }
  .senate-logo {
    max-width: 75%;
  }
  .navbar-brand {
    margin: 0;
  }
  .senate-logo-div {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  body{
    padding-top: 106px;
  }
}




